    {
      "K8S_API_SERVER": "https://{{ openshift.common.hostname }}:8443",
      "K8S_CA": "/var/run/secrets/kubernetes.io/serviceaccount/ca.crt",
      "K8S_KEY": "",
      "K8S_CERT": "",
      "K8S_TOKEN": "",
      "SVC_SUBNET": "172.30.0.0/16"
    }