---
apiVersion: extensions/v1beta1
kind: DaemonSet
metadata:
  name: contiv-etcd-proxy
  namespace: contiv-infra
  labels:
    k8s-app: contiv-etcd
spec:
  updateStrategy:
    type: RollingUpdate
  selector:
    matchLabels:
      name: contiv-etcd-proxy
  template:
    metadata:
      namespace: contiv-infra
      labels:
        name: contiv-etcd-proxy
      annotations:
        scheduler.alpha.kubernetes.io/critical-pod: ""
    spec:
      tolerations:
      - key: node-role.kubernetes.io/master
        effect: NoSchedule   
      serviceAccountName: contiv-netplugin 
      hostNetwork: true
      hostPid: true
      containers:
        - name: contiv-etcd-proxy
          image: "{{ contiv_etcd_image_repo }}:{{ contiv_etcd_image_tag }}"
          command:
            - etcd
            - "--proxy=on"
            - "--listen-client-urls=http://127.0.0.1:{{ contiv_etcd_port }}"
            - "--advertise-client-urls=http://127.0.0.1:{{ contiv_etcd_port }}"
            - "--initial-cluster={{ contiv_etcd_endpoints }}"
            - "--data-dir={{ contiv_etcd_data_dir }}"
            - "--peer-trusted-ca-file=/contiv-secrets/etcd-ca"
            - "--peer-cert-file=/contiv-secrets/etcd-cert"
            - "--peer-key-file=/contiv-secrets/etcd-key"
          volumeMounts:
            - name: contiv-etcd-data-dir
              mountPath: "{{ contiv_etcd_data_dir }}"          
            - mountPath: /contiv-secrets
              name: etcd-certs 
      volumes:
        - name: contiv-etcd-data-dir
          emptyDir: {}      
        - name: etcd-certs
          secret:
            secretName: contiv-etcd-secrets          

